In [2]:
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
# Importing CSV Files for artist Indeed
artist_one = pd.read_csv("../Raw_CSV/April 25-26 - 2022/Indeed/Indeed-artist.csv")
artist_two = pd.read_csv("../Raw_CSV/April 27 - 2022/Indeed/Indeed-artist.csv")
artist_three = pd.read_csv("../Raw_CSV/April 28 - 2022/Indeed/Indeed-artist.csv")
artist_four = pd.read_csv("../Raw_CSV/April 21-22 - 2022/Indeed/artist.csv")

In [4]:
merge = pd.concat(map(pd.read_csv, ["../Raw_CSV/April 25-26 - 2022/Indeed/Indeed-artist.csv","../Raw_CSV/April 27 - 2022/Indeed/Indeed-artist.csv", "../Raw_CSV/April 28 - 2022/Indeed/Indeed-artist.csv","../Raw_CSV/April 21-22 - 2022/Indeed/artist.csv"]),ignore_index=True)

In [5]:
merge.describe()

,Title,Company,SalaryOne,SalaryTwo,Location,Summary,Qualification,Role&Responsibilities
count,390,390,315,315,390,390,315,315
unique,104,158,36,50,48,170,163,162
top,Graphic Artist,Canva,None,None,Makati,Candidate must possess at least Highschool Dip...,[],[]
freq,63,11,258,199,54,8,10,10