In [3]:
import matplotlib.pyplot as plt
import pandas as pd

In [12]:
# Importing CSV Files
artist = pd.read_csv("../Raw_CSV/April 25-26 - 2022/Indeed/Indeed-artist.csv")

In [13]:
artist.describe()

,Title,Company,SalaryOne,SalaryTwo,Location,Summary,Qualification,Role&Responsibilities
count,105,105,105,105,105,105,105,105
unique,47,79,36,1,27,80,83,83
top,newGraphic Artist,ActivAsia Inc.,None,None,Makati,With at least 1 year experienced.,"['8 hour shift', '13th month salary', ""Bachelo...",['ZigWheels Philppines & Carmudi PH is looking...
freq,20,3,48,105,19,3,3,2

In [16]:
artist["Title"].value_counts()[1:11]

Graphic Artist                            19
newGraphic Artist/Designer                 7
Graphic Artist/Designer                    6
Graphic Artist (Entry-Level)               2
Freelance 2D Artist                        2
Production Graphic Artist                  2
newPottery Artist                          2
new3D ILLUSTRATOR                          2
Graphic Artist|Taguig(Work Onsite)-JMM     2
Multimedia Artist                          2
Name: Title, dtype: int64