In [2]:
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
# Importing CSV Files for artist Indeed
artist_one = pd.read_csv("../Raw_CSV/April 25-26 - 2022/Indeed/Indeed-artist.csv")
artist_two = pd.read_csv("../Raw_CSV/April 27 - 2022/Indeed/Indeed-artist.csv")
artist_three = pd.read_csv("../Raw_CSV/April 28 - 2022/Indeed/Indeed-artist.csv")
artist_four = pd.read_csv("../Raw_CSV/April 21-22 - 2022/Indeed/artist.csv")

In [4]:
merge = pd.concat(map(pd.read_csv, ["../Raw_CSV/April 25-26 - 2022/Indeed/Indeed-artist.csv","../Raw_CSV/April 27 - 2022/Indeed/Indeed-artist.csv", "../Raw_CSV/April 28 - 2022/Indeed/Indeed-artist.csv","../Raw_CSV/April 21-22 - 2022/Indeed/artist.csv"]),ignore_index=True)

In [6]:
#Describing the data
merge.describe()

,Title,Company,SalaryOne,SalaryTwo,Location,Summary,Qualification,Role&Responsibilities
count,390,390,315,315,390,390,315,315
unique,104,158,36,50,48,170,163,162
top,Graphic Artist,Canva,None,None,Makati,Candidate must possess at least Highschool Dip...,[],[]
freq,63,11,258,199,54,8,10,10

In [8]:
#View Data's
merge

,Title,Company,SalaryOne,SalaryTwo,Location,Summary,Qualification,Role&Responsibilities
0,Graphic Artist,The Aristocrat Restaurant,"PHP 23,000 - PHP 27,000 a month",None,Malate,Design and format layout of presentation mater...,"['8 hour shift', '13th month salary', 'Overtim...",['Design and format layout of presentation mat...
1,newGraphic Artist - Supervisor Level,Super Shopping Market Inc. (SM Hypermarket) - ...,None,None,Pasay,"Must be a graduate of Graphic design, Advertis...","['Must be a graduate of Graphic design, Advert...","['For Applicants, please send your updated Res..."
2,newE - Learning Graphic Artist,Hunter's Hub Inc.,"PHP 42,000 a month",None,Makati,1-3 years as a graphic/digital creative artist...,['More than 1 year of experience designing & i...,"['Qualifications: ', 'Job Description: ', 'The..."
3,Sculpture Artist,LIVEWERKZ PTE. LTD.,"PHP 15,000 - PHP 40,000 a month",None,Quezon City,Construct 3D art works using materials such as...,['Construct 3D art works using materials such ...,"['Job Description and Requirements', 'Benefits..."
4,Graphic Artist Work from Home,Relotz,None,None,Remote in Manila+3 locations,1-2 years of experience as a graphic artist.,"['Work from home', '8 hour shift', 'Bonus pay'...",['Are you an opportunity-seeker? Because we ar...
...,...,...,...,...,...,...,...,...
385,newGraphic Artist,One Outsource Direct Corp.,NaN,NaN,Makati,The Graphic Artist (GA)is responsible for over...,NaN,NaN
386,Graphic Artist,Reckitt,NaN,NaN,Makati,Competitive Salary & excellent benefits package.,NaN,NaN
387,newGraphic Artist,Majestic Graphic & Printing Corporation,NaN,NaN,Makati,"Advanced skills in Adobe Photoshop, Illustrato...",NaN,NaN
388,Graphic Artist,SkinStation,NaN,NaN,Fort Bonifacio,Meet with the creative director to determine t...,NaN,NaN
389,15 - Motion Graphics Artist - HOMEBASED,Support Shepherd,NaN,NaN,Remote in Manila,You enjoy collaborating as part of a team and ...,NaN,NaN